extends layout.pug



block content

    .container 
        h1 Create a new record form

        

        form.form(action="/animes/create" method='POST') 
            label Title 
            input.input(type="text" name="title")

            label Number of edisodes 
            input.input(type="number", name="episodes")

            label Description 
            textarea.input(type="text" name="description") 
             
            label Status
            if statuses && statuses.length
                select.input(name="status")
                    each status in statuses 
                        option(value= status.statusId, selected) #{ statuses.title } 
            else 
                p 
                
            button.btn Submit

    