extends layout.pug

block content 
    .container 
        h2 The app helps to keep track of what you’ve been watching with a few swipes and taps 
        a(href="/create") Create a new record
        p.web “This web application was created to fulfill Web Technology module’s requirements and does not represent an actual company or service”