extends layout.pug

block content

    .container
        .border 
            h3.title Aot 
            p.number 20
            p.description MMMMM
            p.status On-Hold
          
        
        