extends layout.pug

block content

    .container
        .border 
            h3.anime  #{anime.title}
            p.episodes #{anime.episodes}
            p.description #{anime.description}
            p.status #{anime.status}
          
        
        