doctype html
html(lang="en")
    head
        title Watch list
        link(rel="stylesheet", href="/static/styles.css")
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    body 
        header.navbar 
            h1  
                a(href="/") Anime

            nav.nav
                a(href="/animes") History on all animes
                
                
                
        block content

        